<div class="add">
  <form class="form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="form__row">
      <div class="form__colum">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Price</mat-label>
          <span matPrefix>$ &nbsp;</span>
          <input type="number" matInput formControlName="price" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Photo</mat-label>
          <span matPrefix>url &nbsp;</span>
          <input type="text" matInput formControlName="photo" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Photo 2</mat-label>
          <span matPrefix>url &nbsp;</span>
          <input type="text" matInput formControlName="photoBack" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>battery</mat-label>
          <span matPrefix>mAh &nbsp;</span>
          <input type="number" matInput formControlName="battery" />
        </mat-form-field>
      </div>
      <div class="form__colum">
        <mat-form-field appearance="fill" class="example-full-width">
          <span matPrefix>GB &nbsp;</span>
          <mat-label>Memory</mat-label>
          <input type="number" matInput formControlName="memory" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <span matPrefix>"" &nbsp;</span>
          <mat-label>Diagonal</mat-label>
          <input type="number" matInput formControlName="diagonal" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand">
            <mat-option [value]="brand" *ngFor="let brand of brandList">{{
              brand | titlecase
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Color</mat-label>
          <mat-select formControlName="color">
            <mat-option [value]="color" *ngFor="let color of colorList">{{
              color | titlecase
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <span matPrefix>GB &nbsp;</span>
          <mat-label>RAM</mat-label>
          <input type="number" matInput formControlName="ram" />
        </mat-form-field>
      </div>
    </div>
    <div class="form__row">
      <div class="form__colum">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>description</mat-label>
          <textarea
            class="form__description"
            type="text"
            matInput
            formControlName="description"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <div class="form__button">
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
      >
        Add product
      </button>
    </div>
  </form>
</div>
