<div class="add">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="submit()"
    #formDirective="ngForm"
  >
    <div class="form__row">
      <div class="form__colum">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Name</mat-label>
          <input type="text" matInput formControlName="name" />
          <mat-error *ngIf="form.controls.name.hasError('required')"
            >This field must not be empty</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.name.hasError('minlength') ||
              form.controls.name.hasError('maxlength')
            "
            >The field must be between 3 and 50 characters long</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Price</mat-label>
          <span matPrefix>$ &nbsp;</span>
          <input type="number" matInput formControlName="price" />
          <mat-error *ngIf="form.controls.price.hasError('required')"
            >This field must not be empty</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.price.hasError('min') ||
              form.controls.price.hasError('max')
            "
            >Price must be between 1 and 10000</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Photo</mat-label>
          <span matPrefix>url &nbsp;</span>
          <input type="text" matInput formControlName="photo" />
          <mat-error *ngIf="form.controls.photo.hasError('required')"
            >This field must not be empty. Please, enter the image
            url</mat-error
          >
          <mat-error *ngIf="form.controls.photo.hasError('maxlength')"
            >Url must contain no more than 100 characters</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Photo 2</mat-label>
          <span matPrefix>url &nbsp;</span>
          <input type="text" matInput formControlName="photo2" />
          <mat-error *ngIf="form.controls.photo2.hasError('required')"
            >This field must not be empty. Please, enter the image
            url</mat-error
          >
          <mat-error *ngIf="form.controls.photo2.hasError('maxlength')"
            >Url must contain no more than 100 characters</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Photo 3</mat-label>
          <span matPrefix>url &nbsp;</span>
          <input type="text" matInput formControlName="photo3" />
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>battery</mat-label>
          <span matPrefix>mAh &nbsp;</span>
          <input type="number" matInput formControlName="battery" />
          <mat-error *ngIf="form.controls.battery.hasError('required')"
            >This field must not be empty</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.battery.hasError('min') ||
              form.controls.battery.hasError('max')
            "
            >Min value 1000 -max value 9000</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form__colum">
        <mat-form-field appearance="fill" class="example-full-width">
          <span matPrefix>GB &nbsp;</span>
          <mat-label>Memory</mat-label>
          <input type="number" matInput formControlName="memory" />
          <mat-error *ngIf="form.controls.memory.hasError('required')"
            >This field must not be empty</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.memory.hasError('min') ||
              form.controls.memory.hasError('max')
            "
            >Min value 32 - max value 512</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <span matPrefix>"" &nbsp;</span>
          <mat-label>Diagonal</mat-label>
          <input type="number" matInput formControlName="diagonal" />
          <mat-error *ngIf="form.controls.diagonal.hasError('required')"
            >This field must not be empty</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.diagonal.hasError('min') ||
              form.controls.diagonal.hasError('max')
            "
            >Min value 4.1 - max value 10</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand">
            <mat-option [value]="brand" *ngFor="let brand of brandList">{{
              brand | titlecase
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.brand.hasError('required')"
            >You must choose a brand</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Color</mat-label>
          <mat-select formControlName="color">
            <mat-option [value]="color" *ngFor="let color of colorList">{{
              color | titlecase
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.brand.hasError('required')"
            >You must choose a color</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="fill" class="example-full-width">
          <span matPrefix>GB &nbsp;</span>
          <mat-label>RAM</mat-label>
          <input type="number" matInput formControlName="ram" />
          <mat-error *ngIf="form.controls.ram.hasError('required')"
            >This field must not be empty</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.ram.hasError('min') ||
              form.controls.ram.hasError('max')
            "
            >Min value 2 - max value 12
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form__row">
      <div class="form__colum">
        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>description</mat-label>
          <textarea
            class="form__description"
            type="text"
            matInput
            formControlName="description"
          ></textarea>
          <mat-error *ngIf="form.controls.description.hasError('required')"
            >You must write a description</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.description.hasError('minlength') ||
              form.controls.description.hasError('maxlength')
            "
            >The field must be between 30 and 400 characters long</mat-error
          >
        </mat-form-field>
      </div>
    </div>
    <div class="form__button">
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
      >
        Add product
      </button>
    </div>
  </form>
</div>
