.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__box {
    display: flex;
    width: 25%;
    height: 500px;
    padding: 1rem 0rem 1rem 1rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

:host {
  display: flex;
  height: 100%;
}
