<div class="filter">
  <div class="filter__box">
    <div class="filter__block">
      <app-input-price></app-input-price>
    </div>
    <div class="filter__block">
      <div class="filter__title">Brand</div>
      <app-category [categoryList]="brandList"></app-category>
    </div>
    <div class="filter__block">
      <div class="filter__title">Color</div>
      <app-category [categoryList]="colorList"></app-category>
    </div>
    <div class="filter__block">
      <div class="filter__title">Diagonal</div>
      <app-category [categoryList]="diagonalList"></app-category>
    </div>
    <div class="filter__block">
      <div class="filter__title">RAM</div>
      <app-category [categoryList]="ramList"></app-category>
    </div>
    <div class="filter__block">
      <div class="filter__title">Battery</div>
      <app-category [categoryList]="batteryList"></app-category>
    </div>
    <div class="filter__block">
      <div class="filter__title">Memory</div>
      <app-category [categoryList]="memoryList"></app-category>
    </div>
  </div>
</div>
