.filter {
  padding: 1rem 0rem;
  &__box {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    border: 2px solid gray;
    border-radius: 10px;
  }
  &__block {
    padding: 0.5rem 0.5rem;
  }
}
