<div class="filter">
  <div class="filter__box">
    <div class="filter__block">
      <app-input-price></app-input-price>
    </div>
    <div class="filter__block">
      <p class="filter__title">Brand</p>
      <app-category [categoryList]="brandList"></app-category>
    </div>
    <div class="filter__block">
      <p class="filter__title">Color</p>
      <app-category [categoryList]="colorList"></app-category>
    </div>
    <div class="filter__block">
      <p class="filter__title">Diagonal</p>
      <app-category [categoryList]="diagonalList"></app-category>
    </div>
    <div class="filter__block">
      <p class="filter__title">RAM</p>
      <app-category [categoryList]="ramList"></app-category>
    </div>
    <div class="filter__block">
      <p class="filter__title">Battery</p>
      <app-category [categoryList]="batteryList"></app-category>
    </div>
    <div class="filter__block">
      <p class="filter__title">Memory</p>
      <app-category [categoryList]="memoryList"></app-category>
    </div>
  </div>
</div>
