<div class="basket">
  <div class="invoice">
    <div class="invoice__products" *ngFor="let invoice of invoices">
      <div class="invoice__product">
        <div class="invoice__image">
          <img
            class="invoice__img"
            [src]="invoice.product.photo"
            [alt]="invoice.product.name"
          />
        </div>
        <div class="invoice__name">{{ invoice.product.name }}</div>
        <div class="invoice__quantity">
          {{ invoice.numberOfproducts }}
        </div>
        <div class="invoice__price" appPrice>
          {{ invoice.product.price * invoice.numberOfproducts }}
        </div>
        <div class="invoice__delete">
          <button
            mat-stroked-button
            color="warn"
            (click)="deleteProduct(invoice.product)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="checkout">
    <div class="checkout__box">
      <div class="checkout__inform">
        <p class="checkout__pay">
          To pay: <span appPrice>{{ totalMoney }}</span>
        </p>
      </div>
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Region</mat-label>
          <input type="text" matInput formControlName="region" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+38 &nbsp;</span>
          <input type="tel" matInput formControlName="phoneNumber" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>
        <button
          type="submit"
          [disabled]="form.invalid"
          mat-raised-button
          color="primary"
        >
          Сonfirm the order
        </button>
      </form>
    </div>
  </div>
</div>
