<div class="basket">
  <div class="invoice">
    <div class="invoice__products" *ngFor="let invoice of invoices">
      <div class="invoice__product">
        <div class="invoice__image">
          <img
            class="invoice__img"
            [src]="invoice.product.photo"
            [alt]="invoice.product.name"
          />
        </div>
        <div class="invoice__name">{{ invoice.product.name }}</div>
        <div class="invoice__quantity">
          <div class="invoice__button">
            <button
              [disabled]="disabledMinus"
              class="dialog__btn"
              mat-mini-fab
              color="primary"
              (click)="minusProduct(invoice)"
            >
              -
            </button>
          </div>
          <div class="invoice__number">
            {{ invoice.numberOfproducts }}
          </div>
          <div class="invoice__button">
            <button
              [disabled]="disabledPlus"
              class="dialog__btn"
              mat-mini-fab
              color="primary"
              (click)="plusProduct(invoice)"
            >
              +
            </button>
          </div>
        </div>
        <div class="invoice__price" appPrice>
          {{ invoice.product.price * invoice.numberOfproducts }}
        </div>
        <div class="invoice__delete">
          <button
            mat-stroked-button
            color="warn"
            (click)="deleteProduct(invoice.product)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="checkout">
    <div class="checkout__box">
      <div class="checkout__inform">
        <p class="checkout__pay">
          To pay: <span appPrice>{{ totalMoney }}</span>
        </p>
      </div>
      <form class="form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName" />
          <mat-error *ngIf="form.controls.firstName.hasError('required')"
            >You must enter your first name</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.firstName.hasError('minlength') ||
              form.controls.firstName.hasError('maxlength')
            "
            >The field must be between 3 and 20 characters long</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput formControlName="lastName" />
          <mat-error *ngIf="form.controls.lastName.hasError('required')"
            >You must enter your last name</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.lastName.hasError('minlength') ||
              form.controls.lastName.hasError('maxlength')
            "
            >The field must be between 3 and 30 characters long</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Region</mat-label>
          <input type="text" matInput formControlName="region" />
          <mat-error *ngIf="form.controls.region.hasError('required')"
            >You must enter your region</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.region.hasError('minlength') ||
              form.controls.region.hasError('maxlength')
            "
            >The field must be between 3 and 30 characters long</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>City</mat-label>
          <input type="text" matInput formControlName="city" />
          <mat-error *ngIf="form.controls.city.hasError('required')"
            >You must enter your city</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.city.hasError('minlength') ||
              form.controls.city.hasError('maxlength')
            "
            >The field must be between 3 and 30 characters long</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input type="text" matInput formControlName="address" />
          <mat-error *ngIf="form.controls.address.hasError('required')"
            >You must enter your address</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.address.hasError('minlength') ||
              form.controls.address.hasError('maxlength')
            "
            >The field must be between 3 and 40 characters long</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Telephone</mat-label>
          <span matPrefix>+380 &nbsp;</span>
          <input
            type="tel"
            matInput
            formControlName="phoneNumber"
            placeholder="501234567"
          />
          <mat-error *ngIf="form.controls.phoneNumber.hasError('required')"
            >You must enter your phone number. For example 501234567</mat-error
          >
          <mat-error
            *ngIf="
              form.controls.phoneNumber.hasError('minlength') ||
              form.controls.phoneNumber.hasError('maxlength')
            "
            >The field must be 9 long</mat-error
          >
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
          />
          <mat-error *ngIf="form.controls.email.hasError('email')"
            >Not a valid email</mat-error
          >
        </mat-form-field>
        <button
          type="submit"
          [disabled]="form.invalid"
          mat-raised-button
          color="primary"
        >
          Сonfirm the order
        </button>
      </form>
    </div>
  </div>
</div>
