<header class="header">
  <div class="container header__box">
    <div class="logo">
      <a class="logo__link" routerLink="">Store</a>
    </div>
    <nav class="nav">
      <ul class="nav__elements">
        <ng-container *ngIf="user">
          <li class="nav__item nav__item_user">Hi, {{ user }}</li>
          <li class="nav__item">
            <a routerLink="" (click)="logout()">Logout</a>
          </li>
          <li class="nav__item"><a routerLink="/add">Add product</a></li>
        </ng-container>
        <ng-container *ngIf="!user">
          <li class="nav__item"><a routerLink="/login">Login</a></li>
          <li class="nav__item"><a routerLink="/register">Signup</a></li>
        </ng-container>
        <li
          class="nav__item"
          [matBadge]="numberOfOrders"
          matBadgeOverlap="true"
          matBadgeColor="warn"
        >
          <a class="nav__link" routerLink="/basket">Basket</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
