<div class="filter">
  <div class="filter__box">
    <div class="filter__block">
      <app-input-price></app-input-price>
    </div>
    <div class="filter__block">
      <p>Brand</p>
      <app-categoty [categoryList]="brandList"> </app-categoty>
    </div>
    <div class="filter__block">
      <p>Color</p>
      <app-categoty [categoryList]="colorList"> </app-categoty>
    </div>
    <div class="filter__block">
      <p>Diagonal</p>
      <app-categoty [categoryList]="diagonalList"> </app-categoty>
    </div>
    <div class="filter__block">
      <p>RAM</p>
      <app-categoty [categoryList]="ramList"> </app-categoty>
    </div>
  </div>
</div>
