.header {
  background-color: #232f3e;

  &__box {
    display: flex;
    color: white;
    font-size: 1.8rem;
    padding: 1rem 0rem;
    justify-content: space-between;
  }
}

.logo {
  align-self: center;
}

.search-wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  &__input {
    width: 90%;
    background-color: white;
    color: black;
    padding: 0.5rem;
    border-radius: 4px 0px 0px 4px;
  }

  &__button {
    background-color: #febd69;
    padding: 0.5rem;
    border-radius: 0px 4px 4px 0px;
    color: black;

    &:hover {
      background-color: #f3a847;
    }
  }
}

.nav {
  align-self: center;

  &__elements {
    display: flex;
  }

  &__item {
    padding-left: 2rem;
  }
}
