<div class="login">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    (click)="clearError()"
  >
    <mat-error class="form__error" *ngIf="errorMessage">{{
      errorMessage
    }}</mat-error>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        placeholder="Ex. pat@example.com"
      />
      <mat-error *ngIf="form.controls.email.hasError('required')"
        >You must enter a value</mat-error
      >
      <mat-error *ngIf="form.controls.email.hasError('email')"
        >Not a valid email</mat-error
      >
      <mat-error
        *ngIf="
          form.controls.email.hasError('minlength') ||
          form.controls.email.hasError('maxlength')
        "
        >The field must be between 4 and 30 characters long</mat-error
      >
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error *ngIf="form.controls.password.hasError('required')"
        >You must enter a value</mat-error
      >
      <mat-error
        *ngIf="
          form.controls.password.hasError('minlength') ||
          form.controls.password.hasError('maxlength')
        "
        >The field must be between 4 and 16 characters long</mat-error
      >
    </mat-form-field>
    <div class="form__button">
      <button mat-raised-button color="primary" [disabled]="form.invalid">
        Login
      </button>
    </div>
  </form>
</div>
