.catalog {
  display: flex;
  min-height: 100%;
  width: 100%;
  padding: 1rem 0rem;
}

.filter {
  width: 20%;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
}
