<div
  class="product"
  (click)="openDialog()"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div class="product__image">
    <img
      *ngIf="!photoBack"
      class="product__img"
      [src]="product.photo"
      [alt]="product.name"
    />
    <img
      *ngIf="photoBack"
      class="product__img"
      [src]="product.photoBack"
      [alt]="product.name"
    />
  </div>
  <div class="product__description">
    <p class="product__name">{{ product.name }}</p>
    <p class="product__price" appPrice>{{ product.price }}</p>
  </div>
</div>
