<div class="dialog">
  <div class="dialog__photo">
    <div class="dialog__list-photo">
      <img
        class="dialog__img dialog__img_small"
        [src]="data.photo"
        (click)="img.src = data.photo"
      />
      <img
        class="dialog__img dialog__img_small"
        [src]="data.photo2"
        (click)="img.src = data.photo2"
      />
      <img
        *ngIf="data.photo3"
        class="dialog__img dialog__img_small"
        [src]="data.photo3"
        (click)="img.src = data.photo3"
      />
    </div>
    <div class="dialog__main-photo">
      <img class="dialog__img" #img [src]="data.photo" [alt]="data.name" />
    </div>
  </div>
  <div class="dialog__content">
    <div class="dialog__title">
      <h1 class="dialog__caption">{{ data.name }}</h1>
      <button class="dialog__close" mat-mini-fab (click)="close()">
        &times;
      </button>
    </div>
    <div class="dialog__description">
      <h2 class="dialog__rubric">Main characteristics:</h2>
      <p class="dialog__characteristic">Brand: {{ data.brand | titlecase }}</p>
      <p class="dialog__characteristic">Color: {{ data.color | titlecase }}</p>
      <p class="dialog__characteristic">Diagonal: {{ data.diagonal }}</p>
      <p class="dialog__characteristic">RAM: {{ data.ram }}</p>
      <p class="dialog__characteristic">Memory: {{ data.memory }} GB</p>
      <p class="dialog__characteristic">Battery: {{ data.battery }} mAh</p>
      <h2 class="dialog__rubric">Description:</h2>
      <p class="dialog__characteristic">{{ data.description }}</p>
      <p class="dialog__price" appPrice>{{ data.price }}</p>
    </div>
    <div class="dialog__buy">
      <ng-container *ngIf="isInBasket; else buy">
        <div>Item already added to cart</div>
        <div class="dialog__button">
          <button
            class="dialog__basket"
            mat-flat-button
            color="primary"
            (click)="goToBasket()"
          >
            Go to basket
          </button>
        </div>
      </ng-container>
      <ng-template #buy>
        <div class="dialog__block-buttons">
          <div class="dialog__button">
            <button
              class="dialog__btn"
              mat-mini-fab
              color="primary"
              (click)="minusProduct()"
            >
              -
            </button>
          </div>
          <div class="dialog__current">{{ numberOfproducts }}</div>
          <div class="dialog__button">
            <button
              class="dialog__btn"
              mat-mini-fab
              color="primary"
              (click)="plusProduct()"
            >
              +
            </button>
          </div>
        </div>
        <div class="dialog__button">
          <button
            class="dialog__basket"
            mat-flat-button
            color="warn"
            (click)="addToBasket(data)"
          >
            Add to basket
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
